/* .slidercontainer {
  overflow: hidden;
}
.slidercontainer .slider {
  animation: slidein 30s linear infinite;
  white-space: nowrap;
}
.slidercontainer .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}
.slidercontainer .slider .logos .fab {
  width: calc(100% / 5);
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
 }
  to {
    transform: translate3d(-100%, 0, 0);
 }
}
@keyframes fade-in {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
} */

/* 
.slide img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  background-color: transparent;
  padding: 1em 0em;
  bottom: 5%;
  width: 100%;
  position: absolute;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
} */

  
.slider {
  height: 100px;
  position: absolute;
  width: 100%;
  display: grid;
  place-items: center;
  bottom: 50px;
  overflow: hidden;
  z-index: 1;
}

.slide img {
  width: 100px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.slide img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

.slider::before,
.slider::after{
  position:absolute;
  /* background-image:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); */
  content:'';
  height:100%;width:25%;
  z-index:2;pointer-events:none;
}
.slider::before{
  left:0;
  top:0;
}
.slider::after{
  right:0;
  top:0;
  transform:rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  width: calc(150px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 150px;
  height: 60px;

  display: grid;
  place-items: center;
  transition:0.5s;
  cursor:pointer;
}
.slide:hover{
  transform:scale(1.1)
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}



  /* rotating logo */
  
#circle { position: absolute; width: 100%; padding-bottom: 300px; overflow: hidden; }

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 11px; font-weight: bold; }

.image-circle {
  width: 55px;
  position: absolute;
  right: 13%;
  top: 25%;
  z-index: 100;
}

#circle svg {
  position: absolute;
  left: 35%;
  top: -7%;
  width: 100%;
  height: 250px;
  z-index: 100;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -ms-animation-duration: 15s;
  -o-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(0); }
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(0); }
    to { -o-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}



/* 
.brand {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  z-index: 5;
  right: 6%;
  top: 3%;
}
.brand img {
  display: block;
  border-radius: 50%;
  width: 100%;
}
.brand .brand-label {
  transition: all 0.2s ease-in-out;
}
.brand .brand-label svg {
  position: absolute;
  left: -90%;
  top: -90%;
  height: 280%;
  width: 280%;
  pointer-events: none;
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.brand .brand-label svg text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 1.375px;
  font-variation-settings: "wght" 650;
  fill: #434dad;
  text-transform: uppercase;
  font-weight: 700;
}
.brand:hover .brand-label svg {
  animation-play-state: paused;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
 }
  to {
    transform: rotate(0);
 }
} */
